<!doctype html>
<html>
  <head>
    <title>plutonium-pie-chart demo</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1, user-scalable=yes">
    <script src="../../webcomponentsjs/webcomponents-lite.js"></script>

    <link rel="import" href="../../iron-demo-helpers/demo-pages-shared-styles.html">
    <link rel="import" href="../../iron-demo-helpers/demo-snippet.html">

    <link rel="import" href="../plutonium-pie-chart.html">

    <style is="custom-style" include="demo-pages-shared-styles">
    </style>
  </head>
  <body>

    <div class="vertical-section-container centered">
      <h3>Basic plutonium-pie-chart Demo</h3>
      <demo-snippet>
        <template>
          <!--<svg is="plutonium-pie-chart" width="600" height="300"></svg>-->
          <plutonium-pie-chart width="300" height="300" attr-for-label="age" attr-for-selected="population" data-url="./data.json"></plutonium-pie-chart>
          <plutonium-pie-chart width="300" height="300" attr-for-label="name" attr-for-selected="population" data='[{"name": "k","age": 100001,"population": 40000 }, {"name": "kasdjaksdasdasdadj", "age": 20, "population": 80000}, {"name": "kasdja", "age": 30, "population": 120000}]'></plutonium-pie-chart>
          <!--<svg is="plutonium-pie-chart" width="600" height="300" data-url="./data.json"></svg>-->
        </template>
      </demo-snippet>
    </div>

  </body>
</html>
